
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <title>Informaciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/LoginContent/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/Dashboard.css" rel="stylesheet" />*@

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <main>
                            <section class="tarjeta-principal">


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">Metro de Santo Domingo</h5>
                                                <p class="card-text">Lunes a viernes de 06:00 a.m. a 10:30 p.m. Salida últimos trenes de las cabeceras 10:35 p.m.</p>
                                                <p class="card-text">Sábados y feriados de 06:00 a.m. a 10:00 p.m. Salida últimos trenes de las cabeceras 10:05 p.m.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Sección de Imagen -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="~/InformacionesContent/Rutas.jpg" class="img-fluid" alt="Imagen">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <p>     </p>
                                    </div>
                                </div>



                                <!-- Sección Final con Tres Columnas -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">Centro de Atención al Usuario</h5>
                                                <p class="card-text">Tel.: 809-333-2670 ext. 11112.</p>
                                                <p class="card-text">En horario del Servicio del Metro de Santo Domingo.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">Oficina de Objetos Perdidos</h5>
                                                <p class="card-text">Tel.: 809-333-2670 Ext. 11308, flota: 809-722-6952.</p>
                                                <p class="card-text">Mail: operdidos@opret.gob.do</p>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">OFICINA PARA EL REORDENAMIENTO DEL TRANSPORTE (OPRET)</h5>
                                                <p class="card-text">Av. Máximo Gómez esq. Av. Reyes Católicos, Cristo Rey, Santo Domingo, D.N. Rep. Dom.</p>
                                                <p class="card-text">Tel. 809-732-2670 | 809-333-2670 | 809-333-2671</p>
                                                <p class="card-text">info@opret.gob.do</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="card-body">
                                    <div class="col-md-offset-1">
                                        <a href="@Url.Action("Index","Dashboard")" style="margin-right:10px" class="btn btn-danger float-right">Volver</a>
                                        <br />
                                    </div>
                                </div>

                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginContent/js/jquery.min.js"></script>
    <script src="~/LoginContent/js/popper.js"></script>
    <script src="~/LoginContent/js/bootstrap.min.js"></script>
    <script src="~/LoginContent/js/main.js"></script>

</body>
</html>