
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Crear cuenta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/LoginContent/css/style.css" rel="stylesheet" />
    @*<link href="~/Content/Dashboard.css" rel="stylesheet" />*@

</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap py-5">
                        <main>
                            <section class="tarjeta-principal">

                                <H4>Solicitud de tarjeta</H4>
                                <div class="container mt-5">
                                    <form action="#" method="post" id="registroForm">
                                        <div class="form-group">
                                            <label for="nombre">Nombre:</label>
                                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellido">Apellido:</label>
                                            <input type="text" class="form-control" id="apellido" name="apellido" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="tipo_documento">Tipo de Documento:</label>
                                            <select class="form-control" id="tipo_documento" name="tipo_documento" required>
                                                <option value="">Seleccione...</option>
                                                <option value="Cédula">Cédula</option>
                                                <option value="Pasaporte">Pasaporte</option>
                                                <option value="Licencia de Conducir">Licencia de Conducir</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="identificacion">Identificación:</label>
                                            <input type="text" class="form-control" id="identificacion" name="identificacion" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccion">Dirección:</label>
                                            <input type="text" class="form-control" id="direccion" name="direccion" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="telefono">Teléfono:</label>
                                            <input type="tel" class="form-control" id="telefono" name="telefono" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="forma_pago">Forma de Pago:</label>
                                            <select class="form-control" id="forma_pago" name="forma_pago" required>
                                                <option value="">Seleccione...</option>
                                                <option value="Tarjeta de Crédito">Tarjeta de Crédito</option>
                                                <option value="Transferencia Bancaria">Transferencia Bancaria</option>
                                                <option value="Pago en Efectivo">Pago en Efectivo</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Enviar</button>
                                        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Volver</button>
                                    </form>
                                </div>


                            </section>
                        </main>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginContent/js/jquery.min.js"></script>
    <script src="~/LoginContent/js/popper.js"></script>
    <script src="~/LoginContent/js/bootstrap.min.js"></script>
    <script src="~/LoginContent/js/main.js"></script>

</body>
</html>