@model MetroApp.DataLayer.Models.Recarga

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Registrar cuenta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/LoginContent/css/style.css" rel="stylesheet" />
    <style>
        .error-message {
            color: red;
        }

        /* Estilos específicos para dispositivos móviles */
        .tabla-tarjetas td {
            padding: 10px; /* Aumenta el espacio entre las celdas de la tabla en dispositivos móviles */
        }
    </style>

</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap py-5">
                            <div class="card">
                                <div class="card-header ">
                                    <div class="row">
                                        <h4>&nbsp;&nbsp;Tarjetas agregadas</h4>
                                    </div>
                                    @*<hr />*@
                                </div>
                                <div class="card-body">
                                    <div class="otras-tarjetas">
                                        <table class="tabla-tarjetas">
                                            <thead>
                                                <tr>
                                                    <th>Tipo de tarjeta</th>
                                                    <th></th>
                                                    <th>Número de Tarjeta</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-mastercard-48.png" alt="Ver metros"></td>
                                                    <th></th>
                                                    <td>**************8495</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-visa-card-48.png" alt="Ver metros"></td>
                                                    <th></th>
                                                    <td>**************9903</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-mastercard-48.png" alt="Ver metros"></td>
                                                    <th></th>
                                                    <td>**************5040</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-visa-card-48.png" alt="Ver metros"></td>
                                                    <th></th>
                                                    <td>**************2013</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-mastercard-48.png" alt="Ver metros"></td>
                                                    <td></td>
                                                    <td>**************3144</td>
                                                </tr>
                                                <tr>
                                                    <td><img src="~/LoginContent/Imagen/icons8-visa-card-48.png" alt="Ver metros"></td>
                                                    <th></th>
                                                    <td>**************8069</td>
                                                </tr>
                                                <!-- Agrega más filas según sea necesario -->
                                            </tbody>
                                        </table>
                                        <div class="card-footer">
                                            <div class="form-group">
                                                <div class="col-md-offset-5">                                                 
                                                    <a href="@Url.Action("Index", "Dashboard")" class="btn btn-danger float-right">Volver</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
